
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-rzle reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background: rgb(213, 213, 214);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
/* main css */
body {
  background: #000;
}
/* 
======================
--------Header Logo----
======================= 
*/
.header{
  height: 100px;
  display: grid;
  grid-template-columns: auto 1fr;
}
.header img{
  height: 100%;
}


/* 
======================
--------Navigation----
======================= 
*/
.navigation{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin: 50px auto;
}
p {
  padding: 15px 0;
}
.navItem {
    float: left;
    text-decoration: none;
    position: relative;
    width: 180px;
    display: block;
    height: 40px;
    line-height: 12px;
    overflow: hidden;
    z-index: 9;
}

.navItem:hover .color {
  top: 0;
}
.color {
  position: absolute;
  width: 100%;
  height: 5px;
  display: block;
  bottom: 0;
  left: 0;
  transition : all 0.3s ease-in-out;
}

.navItem.categories {
  color: rgb(66, 217, 255);
}
.navItem.categories .color {
    background:rgb(66, 217, 255);
  }
.navItem.trending {
  color: rgb(128, 255, 204);
}
.navItem.trending .color {
    background: rgb(128, 255, 204);
}
    
.navItem.random {
  color: rgb(153, 51, 255);
}
.navItem.random .color {
  background: rgb(153, 51, 255);
}

.navItem.upload {
  color: rgb(255, 244, 104);
}
.navItem.upload .color {
  background:rgb(255, 244, 104);
}
.navItem.about {
  color: rgb(255, 102, 102);
}
.navItem.about .color {
    background: rgb(255, 102, 102);
}
.navItem > img {
  position: absolute;
  top: -100%;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: 4;
}
.navItem:hover {
  color: #fff;
}
.navItem:hover  img {
  top: 0;
  z-index: -3;
}
  /* 
======================
--------display----
======================= 
*/
/* .img{
  display: grid;
  grid-template-rows: auto auto;
}
.img button {
  width: 100PX;
}     */
/* 
======================
--------footer----
======================= 
*/  

footer{
	height: 250px;
	width: 100%;
	background: rgb(14, 12, 12);
	position: absolute;
}
.container1{
    display: grid;
    grid-template-columns: 3fr 2fr;
} 
footer img {
    height: 100px;
}